body {
    text-align: initial;
}

img {
    max-width: 100%;
}

.hero {
    height: 600px;
    background-image: url('../imgs/hero.jpg');
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;

    width: 100%;
    height: 260px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 14px 38px;
    color: #fff;

    line-height: 30px;
    font-size: 20px;
}

header .logo {
  width: 95px;
  height: 45px;
}

.subpage header {
  background-color: #fff;
  height: 75px;
}

.home header, .home header a {
  color: #fff;
}

.home .logo {
  filter: brightness(0) invert(1);
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #767676;
}

.menu-lang {
  margin: 0 24px;
}

.menu-lang a {
  color: #767676;
  text-decoration: none;
}

.menu-lang a:hover {
  color: #212121;
}

.home .menu-lang a,
.home .menu-username {
  color: #eee;
  border-color: #eee;
}

.home .menu-lang a:hover,
.home .menu-username:hover {
  color: #fff;
  border-color: #fff;
}

.menu-username {
  font-size: 13px;
  border: 1px solid #767676;
  border-radius: 20px;
  color: #767676;
  padding: 0 15px;
  text-decoration: none;
}

.menu-username i {
  margin-left: 7px;
}

.menu-username:hover {
  text-decoration: none;
  color: #212121;
}

.subpage main {
  overflow: hidden;
}

.search {
    background-color: rgba(0, 0,0, .4);
    padding: 15px 15px 40px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.home .search {
    margin-top: 90px;
    margin-bottom: 90px;
}

.search-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 60px;
    align-items: stretch;
    margin: 0px;
}

.search-form input {
    padding: 20px 16px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0,0, .2);
    width: 130px;
}

.search-form button {
    background-color: #ec0c6d;
    border-radius: 4px;
    width: 100px;
    border: none;
    appearance: none;
    color: #fff;
}

.subpage .search-form button {
  width: 115px;
  margin-right: 7px;
  background-color: #979797;
  transition: .15s ease;
}

.subpage .search-form button:hover {
  background-color: #aa004e
}

.subpage .search {
  width: auto;
  padding-top: 45px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom,rgba(180,180,180,1) 0,rgba(222,222,222,1) 48%,rgba(246,246,246,1) 100%)
}

.subpage .search-form {
  width: 750px;
  background-color: #fff;
  height: auto;
  box-shadow: 2px 2px 12px rgba(0,0,0,.3);
  border-radius: 4px;
  padding: 7px;
  margin-right: auto;
  margin-left: auto;
}

.subpage .input-groups {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  width: 100%;
}

.subpage .form-field {
  flex: 1;
}

.subpage .search .search-form input {
  padding: 8px 15px;
  border-color: #d8d8d8;
  border-radius: 0;
  border-left-width: 0;
  width: 100%;
}

.subpage .search .search-form .form-field:first-of-type input {
  border-radius: 0 4px 4px 0;
}

.subpage .search .search-form .form-field:last-of-type input {
  border-radius: 4px 0 0 4px;
  border-left-width: 1px;
}

.hero-content{
    position: relative;
    z-index: 10;
}
.hero-services {
    width: 700px;
    margin: 0% auto;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}

.service-item-text {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.hero-services-item a {
    /* text-decoration: none; */
}

.hero-services-item a:hover {
    text-decoration: none;
    font-weight: bold;
}

.app-link-item {
    display: inline-block;
    width: 135px;
    height: 40px;
    background-image: url('../imgs/app-categories-sprite.png');
}

.app-link-item.googleplay {
    background-position: 0px -1455px;
}

.app-link-item.cafebazar {
    background-position: 0px -1415px;
}

.app-link-item.ios {
    background-position: 0px -1495px;
}

.app-link-item.sibapp {
    background-position: 0px -1535px;
}

.app-link-item.android {
    background-position: 0px -1335px;
}

.app-section-wrapper {
    background-color: #f8f6f8;
    padding: 150px 0;

}

.app-section {
    width: 956px;
    height: 616px;
    margin: 0px auto;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    padding-bottom: 80px;

}

.app-section-text {
    width: 60%;
    padding: 75px 40px 0px 91px;
}

.home-heading {
        margin-bottom: 16px;
            color: rgba(0, 0, 0, 0.86);
    font-size: 30px;
    font-weight: 300;
    line-height: 58px;
    text-align: initial;

}

.home-para {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 58px;
    text-align: justify;

}

.app-form-label {
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.86);
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

.app-form-row {
    height: 60px;
    width: 420px;
    display: flex;
    align-items: stretch;
    margin-bottom: 40px;
}

.app-form-phone-field {
    border-radius: 0 4px 4px 0;
    border: 1px solid rgba(0, 0,0, .2);
    font-size: 14px;
    width: 280px;
    padding: 20px 16px;

}

.app-form-btn {
    border-radius: 4px 0 0 4px;
    width: 135px;
    background-color: #ec0c6d;
    color: #fff;
    border: none;
}

.app-section-mobile {
    margin-top: -70px;
}

.u-primary-color {
    color:#ec0c6d;
}

.category-section-wrapper {
    padding: 96px 0 66px;
}

.category-section {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.category-section-item {
    display: block;
    width: 200px;
    height: 89px;
    margin-bottom: 30px;
    background-image: url('../imgs/app-categories-sprite.png');

}

.cat-item-2 {
    background-position-y: -89px;
}

.cat-item-3 {
    background-position-y: -178px


}

.cat-item-4 {
    background-position-y: -267px


}

.cat-item-5 {
    background-position-y: -356px


}

.cat-item-6 {
    background-position-y: -445px


}

.cat-item-7 {
    background-position-y: -534px


}

.cat-item-8 {
    background-position-y: -623px


}

.cat-item-9 {
    background-position-y: -712px

}

.cat-item-10 {
    background-position-y: -801px


}

.cat-item-11 {
    background-position-y: -890px


}

.cat-item-12 {
    background-position-y: -979px


}

.cat-item-13 {
    background-position-y: -1068px


}

.fill-empty {
    width: 200px;
}

.about-section-wrapper {
    height: 345px;
    padding-top: 90px;


}

.about-section {
    width: 1105px;
    margin: 0 auto;
}

.about-section h1 {
    text-align: center;

}

.popular-section-wrapper {
    height: 550px;
    padding: 55px 80px;

}

.popular-section {
    width: 1260px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-section-text ,
.popular-section-img {
    width: 50%;

}

.popular-section-img {
    text-align: left;
}

.popular-logos {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 545px;
}

.logo-item {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.city-section-wrapper {
    background-color: #f8f6f8;
    padding: 80px;

}

.city-section h4 {
    margin-bottom: 24px;


}
.cities {
    display: flex;
    flex-flow: row wrap;
}

.cities a {
    height: 25px;
    padding: 0 17px;
    border-radius: 13px;
    border: 1px solid rgba(0, 0,0, .2);
    background-color: #fff;
    margin-bottom: 8px;
    margin-left: 7px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    text-decoration: none;
}

/**
 * Subpage
 **/

.box {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  color: #868686;
  line-height: 1.6;

  margin-bottom: 20px;
}

.box-cover {
  background-size: cover;
  background-position: center center;

  height: 100px;
  background-color: #f2eee2;
  border-radius: 4px 4px 0 0;
}

.box-avatar {
  background-size: cover;
  background-position: center center;

  width: 100px;
  height: 100px;

  position: absolute;
  top: 45px;
  left: 0;
  right: 0;

  margin: 0 auto;

  border-radius: 5px;

  border: 1px solid #d8d8d8;
}

.box-content {
  padding: 10px 20px;
}

.box-restaurant-content {
  text-align: center;
}

.box-heading {
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  color: #424242;
}

.box-restaurant-title {
  margin-top: 50px;
}

.box-rate {
  margin-top: 13px;
  font-size: 13px;
}

.box-rate-num {
  font-size: 16px;
}

.box-stars {
  margin: 0 10px;
}

.box-address {
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}

.box-btn {
  min-width: 140px;
}

.box-btn-wrapper {
  margin: 15px 0 7px;
}

.box-footer {
  background-color: #f7f7f7;
  padding: 12px 4px;
  text-align: center;
  font-size: 13px;
  border-radius: 0 0 4px 4px;
}

.box-accordion .box-opener {
  display: block;
  font-size: 13px;
  color: #424242;
  text-decoration: none;
  width: 100%;
  text-align: initial;
  padding: 10px 15px;
  transition: .15s ease;
}

.box-opener[aria-expanded=false] {
  font-size: 16px;
}

.box-heading .btn {
  /* col */
}

.filter-item {
  line-height: 1;
  margin-bottom: 10px;
}

.filter-label {
  margin-right: 7px;
}

.box-link:hover .box-heading {
  color: #000;
}

.box-link {
  text-decoration: none;
}

.box-link:hover {
  text-decoration: none;
}

.box a {
  color: #868686;
  text-decoration: none;
}

.c-breadcrumb {
  margin: 10px 0;
}

.c-breadcrumb a {
  font-size: 11px;
  color: #9f9f9f;

  padding: 5px;

  display: inline-block;
}

.c-breadcrumb a:after {
  content: '>';

  margin-right: 10px;
}

.c-breadcrumb a:hover {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.subpage {
  background-color: #f6f6f6;
}
